{%- comment -%} AcademicIcons {%- endcomment -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" crossorigin="anonymous">

{%- comment -%} Bootstrap {%- endcomment -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>

{%- comment -%} Custom breadcrumbs styling using Liquid, necessary hambuger-menu button styling due to customization for HTML-validity, logo-title stilying necessary to avoid double link, toc heading for accessibility reason {%- endcomment -%}
<style>
    .breadcrumb-item:not(:first-child)::before {
        content: " {{ site.data.ui-text[site.locale].breadcrumb_separator }} ";
    }
    
    .masthead #site-nav .navicon {
        display: block;
    }
    
    .masthead #site-nav a#site-brand {
        display: flex;
        margin: 0;
    }
    .masthead #site-nav a#site-brand img.site-logo {
        margin: 0 0.5rem 0 0;
        object-fit: contain;
        width: 50px;
    }
    .masthead #site-nav a#site-brand div.site-title {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 0;
    }
    
    .sidebar__right .toc .nav__title {
        margin: 0;
        line-height: 1;
    }
</style>