---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* Override of Minimal Mistakes' property */
$intro-transition: none;
$global-transition: none;  /* If disabled Lighthouse doesn't work */

/* Import of default Minimal Mistake's stylesheets */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Import of custom stylesheets */

@import "works";
    
    
/* Generic customizations */
.breadcrumbs ol {
    margin-top: 20px;
}

.sidebar .social-icons li:first-child {
    margin-bottom: 20px;
}

.sidebar .social-icons {
    .fa-researchgate {
        color: #0AC5B2;
    }
    .ai-scopus {
        color: #FF7600;
    }
    .fa-orcid {
        color: #9CC732;
    }
    .fa-google-scholar {
        color: #3776EA;
    }
    .fa-github {
        color: #171515;
    }
}

.sidebar .author__avatar img {
    max-width: 150px !important;
}

.page__hero--overlay {
    padding: 2em 0;
    margin-bottom: 1em;
    
    .page__title, .page__lead {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    }
}