p .fa {
    margin-right: 5px;
}

#publications-list {

    .publication {
        
        .info {
        
            .year {

            }

            .type {

                small {
                    font-weight: lighter;
                }
            }
            
            .extension {
                text-decoration-style: dashed;
                
                &:hover * {
                    opacity: 50%;
                }
                
                i.fa {
                    margin-left: 5px;
                }
            }
            
            .card-link {
                position: relative;
                float: right;
                opacity: 0;
            }
        }

        .authors {
            
            .myself {
                text-decoration: underline;
                text-decoration-style: wavy;
                text-underline-offset: 4.25px;
                text-decoration-thickness: 1.25px;
            }   
        }

        .title {
            font-weight: bold;
            margin: 5px 0;
        }

        .venue {
            
            .venue_name, .colocation_name, .special_issue {
                font-style: italic;
            }

        }
        
        .awards {
            
            .award{
                
            }
        }
        
        .details {
            display: flex;
            flex-wrap: wrap;
            
            .controls {
                margin: auto;
                min-width: 250px;
                display: flex;
                justify-content: space-between;
                
                .abstract-btn, .reference-btn {
                    min-width: 115px;
                }
            }
            
            .links {
                margin: auto;
                min-width: 250px;
                display: flex;
                justify-content: space-between;
                
                .manuscript, .doi, .repository, .rep-pkg, .slides {
                    
                }
                
                .placeholder {
                    cursor: auto;
                }
            }
        
            .abstract, .reference {
                width: 100%;
                display: none;

                &.show {
                    display: block;
                }
                
                hr {
                    margin: 5px 0;
                }
            }
            
            .abstract {
                
                p {
                    white-space: break-spaces;
                    text-align: justify;
                    font-size: smaller;
                    font-style: italic;
                    margin: 10px 0;
                    line-height: 1.25;
                    font-family: serif;
                }
            }

            .reference {

                figure {
                    margin: 10px 0;
                    line-height: 1.25;
                }
            }
        }
        
        &:hover {
            .card-link {
                opacity: 1;
            }
        }
    }
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 0.25rem solid;
}
.callout-info {
    background-color: rgb(207, 244, 252);
    border-color: rgb(158, 234, 249);
    color: rgb(5, 81, 96);
}

#speakings-list {

    .speaking {
        
        .info {
        
            .year {

            }

            .type {

                small {
                    font-weight: lighter;
                }
            }
            
            .relating-to {
                text-decoration-style: dashed;
                
                &:hover * {
                    opacity: 50%;
                }
                
                i.fa {
                    margin-left: 5px;
                }
            }
            
            
            .card-link {
                position: relative;
                float: right;
                opacity: 0;
            }
        }

        .title {
            font-weight: bold;
            margin: 5px 0;
        }

        .venue {
            
            .venue_name {
                font-style: italic;
            }

        }
        
        .links {
            margin: auto;
            min-width: 250px;
            max-width: 400px;
            display: flex;
            justify-content: space-between;

            .manuscript, .repository, .slides {

            }

            .placeholder {
                cursor: auto;
            }
        }
        
        &:hover {
            .card-link {
                opacity: 1;
            }
        }
    }
}

#statistics {
    
    p {
        margin-bottom: 0.5em;
    }
    
    ul#statistics-list {
         margin-bottom: 0.5em;
    }
}

#theses-list {
    
    .thesis {
        
        .info {
            
            .year, .type {
                
                small {
                    font-weight: lighter;
                }
            }
            
            .card-link {
                position: relative;
                float: right;
                opacity: 0;
            }
        }
        
        hr {
            margin: 5px 0;
        }
        
        .label {
            font-weight: 600;
        }
        
        .title span:nth-of-type(2){
            font-weight: 700;
            font-style: italic;
        }
        
        .course {
            
        }
        
        .institution {
            
        }
        
        .supervisors span:nth-of-type(2), .co-supervisors span:nth-of-type(2) {
            font-style: italic;
        }
        
        .details {

            .links {
                margin: auto;
                width: 235px;
                display: flex;
                justify-content: space-between;

                .manuscript, .repository, .slides {

                }

                .placeholder {
                    cursor: auto;
                }
            }
        }
        
        &:hover {
            .card-link {
                opacity: 1;
            }
        }
    }
}

#copyright {
    font-size: 0.66em;
}